.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
Final_Output*/
samples/
samp.dat
*.log*
star_for_arriba/
star_for_squid/
star_for_starfusion/
starfusion/
samtools/
samtools_index_for_arriba/
samtools_index_for_qc/
samtools_sort_for_arriba/
samtools_sort_for_squid/
.*
fusioncatcher/
fusioninspector/
fusionreport/
get/
kallisto/
picard/
pipeline_info/
pizzly/
qualimap/
arriba/
arriba_visualisation/
samplesheet.csv
squid/
multiqc/
*_bedmap
references/
scriptlog
scriptlog.coverage
*.out
