manifest {
	description = 'Calculation of custom parameters'
	author = 'Vishram L. Terse'
	nextflowVersion = '20.10.0'
}

params {
	bedtools = "/usr/bin/bedtools"
	samtools = "/home/programs/samtools-1.7/samtools"
	merge_csvs_script = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/merge-csv_v3.py"
	sed_sh = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/sed.sh"
	cffgen = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/liftover.py"
	metafus_gen = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/metafus_gen.sh"
	metafus_append = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/metafus_table_append.sh"
	empty_excel = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/make_xlsx.py"
	filter_metafus = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/filter_metafuse.py"
	convert_metafus = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/convert_metafuse.py"
	sv_standard = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/SV_standard/SV_standard.pl"
	sv_anno = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/SV_standard/anno_chr"
	cytoBand = "/home/diagnostics/pipelines/nf-core/rnafusion/assets/cytoBand.txt"
	genome = "/home/diagnostics/pipelines/nf-core/rnafusion/references/ensembl/Homo_sapiens.GRCh38.102.all.fa"
	genome_dict = "/home/diagnostics/pipelines/nf-core/rnafusion/references/ensembl/Homo_sapiens.GRCh38.102.all.dict"
	dbsnp = "/home/diagnostics/pipelines/nf-core/rnafusion/references/gatk/Homo_sapiens.GRCh38.dbsnp138.vcf.gz"
	dbsnp_index = "/home/diagnostics/pipelines/nf-core/rnafusion/references/gatk/Homo_sapiens.GRCh38.dbsnp138.vcf.gz.tbi"
	haplotypecaller = "haplotypecaller"
	vardict = "vardict"
	annovar_humandb = "/home/programs/annovar_hg38/annovar/humandb"
	gen_ref = "/home/programs/annovar_hg38/annovar/example/gene_fullxref.txt"
	extract_vep = "/home/diagnostics/pipelines/WholeExomePipeline/scripts/extract_vepdata.py"
	extract_vaf = "/home/diagnostics/pipelines/WholeExomePipeline/scripts/extract_vaf.py"
	mergeVardictVep = "/home/diagnostics/pipelines/WholeExomePipeline/scripts/mergeDeepVariantVep.py"
	format_haplotypecaller = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/format_haplotypecaller.py"
	format_vardict = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/format_vardict.py"
}

def humandb_real = new File(params.annovar_humandb).canonicalPath
def reffile_real = new File(params.gen_ref).canonicalPath

process {
	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 2.h  * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 12.GB * task.attempt }
		time   = { 4.h   * task.attempt }
	}
	withLabel:process_inter {
		cpus   = { 16     * task.attempt }
		memory = { 32.GB * task.attempt }
		time   = { 10.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 32     * task.attempt }
		memory = { 48.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 64    * task.attempt }
		memory = { 72.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_long {
		time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}


	withName: /(ADD_READGROUPS|MARK_DUPLICATES|SPLIT_N_CIGARREADS|BQSR|APPLY_BQSR|HAPLOTYPECALLER)/ {
		container = 'quay.io/biocontainers/gatk4:4.3.0.0--py36hdfd78af_0'
	}
	withName:ANNOVAR {
		container = 'docker.io/bioinfochrustrasbourg/annovar:2018Apr16'
		containerOptions = "-v ${humandb_real}:/databases/humandb -v ${reffile_real}:/databases/gene_fullxref.txt"
	}
}

profiles {
	docker {
		docker.enabled          = true
		docker.runOptions       = '-u $(id -u):$(id -g)'
	}
}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${PWD}/Final_Output//execution_timeline_custom_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${PWD}/Final_Output//execution_report_custom_${trace_timestamp}.html"
	overwrite = true
}
trace {
	enabled = true
	file    = "${PWD}/Final_Output//execution_trace_custom_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file    = "${PWD}/Final_Output//pipeline_dag_custom_${trace_timestamp}.html"
}

