manifest {
	description = 'Calculation of custom parameters'
	author = 'Vishram L. Terse'
	nextflowVersion = '20.10.0'
}

params {
	sv_anno = "${projectDir}/../assets/anno_chr"
	cytoBand = "${projectDir}/../assets/cytoBand.txt"
	chain_hg38_to_hg19 = "${projectDir}/../assets/hg38ToHg19.over.chain.gz"
	chain_hg19_to_hg38 = "${projectDir}/../assets/hg19ToHg38.over.chain.gz"
	genome = "${projectDir}/../assets/Homo_sapiens.GRCh38.102.all.fa"
	genome_dict = "${projectDir}/../assets/Homo_sapiens.GRCh38.102.all.dict"
	dbsnp = "${projectDir}/../assets/Homo_sapiens.GRCh38.dbsnp138.vcf.gz"
	dbsnp_index = "${projectDir}/../assets/Homo_sapiens.GRCh38.dbsnp138.vcf.gz.tbi"
	haplotypecaller = "haplotypecaller"
	vardict = "vardict"
	deepvariant = "deepvariant"
	mutect2 = "mutect2"
	annovar_humandb = "${projectDir}/../assets/humandb"
	gen_ref = "${projectDir}/../assets/gene_fullxref.txt"
	sv_lib = "${projectDir}/../assets/SV_standard_lib"
	ensembl_gtf = "${projectDir}/../assets/Homo_sapiens.GRCh38.102.gtf"
	pon_myfu = "${projectDir}/../assets/MYFU_PON_featurecounts.out"
	pon_ball ="${projectDir}/../assets/BALL_PON_featurecounts.out"
	pon_tall = "${projectDir}/../assets/TALL_PON_featurecounts.out"
	gene_map = "${projectDir}/../assets/gene_map.csv"
	myfu_genes = "${projectDir}/../assets/MYFU_genes"
	ball_genes = "${projectDir}/../assets/BALL_genes"
	tall_genes = "${projectDir}/../assets/TALL_genes"
}

def humandb_real = new File(params.annovar_humandb).canonicalPath
def reffile_real = new File(params.gen_ref).canonicalPath

process {
	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 2.h  * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 12.GB * task.attempt }
		time   = { 4.h   * task.attempt }
	}
	withLabel:process_inter {
		cpus   = { 16     * task.attempt }
		memory = { 32.GB * task.attempt }
		time   = { 10.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 32     * task.attempt }
		memory = { 48.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 64    * task.attempt }
		memory = { 72.GB * task.attempt }
		time   = { 16.h  * task.attempt }
	}
	withLabel:process_long {
		time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}


	withName: COUNTS {
		container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
	}	
	withName: BAM {
		container = 'dukegcb/bwa-samtools:latest'
	}	
	withName: /(CFF_FILEGEN|LIFTOVER_METAFUSION)/ {
		container = 'molhemat/pyliftover:1.1'
	}	
	withName: /(ADD_READGROUPS|MARK_DUPLICATES|SPLIT_N_CIGARREADS|BQSR|APPLY_BQSR|HAPLOTYPECALLER|MUTECT2)/ {
		container = 'quay.io/biocontainers/gatk4:4.3.0.0--py36hdfd78af_0'
	}
	withName: VARDICT {
		container = 'quay.io/biocontainers/vardict-java:1.8.3--hdfd78af_0'
	}
	withName: DEEPVARIANT {
		container = 'google/deepvariant:1.6.1'
	}	
	withName:/(ANNOVAR|IGV_PREPROCESS)/ {
		container = 'docker.io/bioinfochrustrasbourg/annovar:2018Apr16'
		containerOptions = "-v ${humandb_real}:/databases/humandb -v ${reffile_real}:/databases/gene_fullxref.txt"
	}
	withName: /(DASHBOARD|FILTER_METAFUSION)/ {
		container = 'docker.io/jupyter/scipy-notebook:x86_64-ubuntu-22.04'
	}	
	withName: /(METAFUSION|UPDATE_METAFUSION_DB)/ {
		container = 'mapostolides/metafusion:readxl_writexl'
		containerOptions = "--entrypoint /bin/bash -v ${projectDir}/../assets/MetaFusion-Clinical:/Users/maposto/MetaFusion-Clinical"
	}
	withName: FILE_COPY {
		container = 'docker.io/jupyter/scipy-notebook:x86_64-ubuntu-22.04'
		containerOptions = "-v $PWD:$PWD"
	}
	withName: FUSVIZ_ALL_SAMPLES {
		container = 'perldocker/perl:5.10.1'
		containerOptions = "-v $PWD:$PWD"
	}
	withName: IGV_REPORTS {
		container = 'staphb/igv-reports:latest'
	}	
	withName: FEATURECOUNTS {
		container = 'wailz/featurecounts:2.0.3'
	}
	withName: /(MERGE_FEATURECOUNTS|HEATMAP_GEN)/ {
		container = 'docker.io/jupyter/scipy-notebook:x86_64-ubuntu-22.04'
	}
}

profiles {
	docker {
		docker.enabled          = true
		docker.runOptions       = '-u $(id -u):$(id -g)'
	}
}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${PWD}/Final_Output//execution_timeline_custom_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${PWD}/Final_Output//execution_report_custom_${trace_timestamp}.html"
	overwrite = true
}
trace {
	enabled = true
	file    = "${PWD}/Final_Output//execution_trace_custom_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file    = "${PWD}/Final_Output//pipeline_dag_custom_${trace_timestamp}.html"
}

